.header-menu {
  &__link {
    font-size: 1.875rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-top: -5px;
  }

  &__image {
    display: block;
    margin-right: 10px;
  }
}
