.footer {
  background-color: $color-primary;

  @include lg-min {
    padding-top: 90px;
    padding-bottom: 140px;
  }

  @include lg {
    padding-top: $gap * 3;
    padding-bottom: $gap * 4;
  }
}
